<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias tenetur quod quae fuga nulla ut atque fugiat
            consectetur consequatur! Quas ex dolore enim nulla molestiae numquam deleniti, fugiat ea blanditiis
            molestias, quis ab dolores iure nostrum magnam ipsam quidem. Delectus?</p>
    </div>
</div>