<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam officiis repudiandae in aliquam, similique vel
        placeat facere. Repellendus temporibus sapiente a nemo qui rerum enim reiciendis labore beatae? Eius, quam!</p>
    <a href="#" class="btn btn-primary btn-lg">Ingresar</a>
</div>